.img {
    width: 400px;
    height: 200px;
}

#container-texto {
    width: 400px;
    background-color: blue;
    height: 150px;
    overflow: auto;
}

.texto {
    font-weight: bold;
    text-decoration: underline;
}